<% if user_signed_in? %>
<p>
  <strong>Title:</strong>
  <%= @lesson.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @lesson.description %>
</p>

<% if @lesson.video.present? %>
  <% @videos.each do |video| %>
    <div class="video-container">
      <iframe width="100%" height="100%" src='https://www.youtube.com/embed/<%= "#{video.uid}" %>' frameborder="0" allowfullscreen=""></iframe>
    </div>
  <% end %>
<% end %>


<% if @lesson.image.present? %>
  <p>
    <strong>Download PDF:</strong>
    <%= link_to "Download", @lesson.image.url(:original, false) %>
  </p>
<% end %>

<% if @lesson.mp3.present? %>
  <button onclick="playAud()" type="button">Play</button>
  <button onclick="pauseAud()" type="button">Pause</button>
  <%= link_to "Download", @lesson.mp3(:original, false) %>
<audio id = "audio">
    <source src='<%= @lesson.mp3 %>' type="audio/mpeg">
</audio>
<% end %>
<br>

<%= link_to "Back", category_path(@lesson[:category_id]) %>


<script>
var audio = document.getElementById("audio");
   function playAud() {
        audio.play();
    }
    function pauseAud() {
        audio.pause();
    }
</script>

  <% else %>
  <% redirect_to lessons_path %>
<% end %>
