<p>
  <strong>Title:</strong>
  <%= @lesson.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @lesson.description %>
</p>

<div>
  <%= render 'layouts/videos' %>
</div>

<p>
  <strong>Download PDF:</strong>
  <%= link_to "Download", @lesson.image.url(:original, false) %>
</p>

<p>
 <section id="song">
 </section>

<td><%= link_to "Play Audio File", @lesson.mp3.url, :class => "play_song" %></td>

</p>



<%= link_to 'Back', lessons_path %>
