<p>
  <strong>Title:</strong>
  <%= @lesson.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @lesson.description %>
</p>

<div>
  <%= render 'layouts/videos' %>
</div>

<p>
  <strong>Download PDF:</strong>
  <%= link_to "Download", @lesson.image.url(:original, false) %>
</p>

<button onclick="playAud()" type="button">Play</button>
<button onclick="pauseAud()" type="button">Pause</button>

<audio id = "audio" autoplay>
    <source src='<%= @lesson.mp3 %>' type="audio/mpeg">
</audio>
<br>



<%= link_to 'Back', lessons_path %>

<script>
var audio = document.getElementById("audio");
   function playAud() {
        audio.play();
    }
    function pauseAud() {
        audio.pause();
    }
</script>
