<h1><%= @category.category_name %> Lessons</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Video</th>
    <th>Download PDF</th>
    <th>Play Audio</th>
  </tr>

  <% @category.lessons.each do |lesson| %>
    <tr>
      <td><%= lesson.title %></td>
      <td><%= lesson.description %></td>
      <td><%= render 'layouts/videos' %></td>
      <td><%= lesson.image_file_name %></td>
      <td><%= lesson.mp3_file_name %></td>
      <td><%= link_to 'Show', category_lesson_path(lesson.category) %></td>
    </tr>
  <% end %>
</table>
